@model PaginatedList<TestApp2.Models.Task>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>

<form asp-action="Index" method="get">
    <div class="form-actions no-color">
        <p>
            Find Task Worker: <input type="text" name="SearchString" value="@ViewData["CurrentFilter"]" />
            <input type="submit" value="Search" class="btn btn-default" /> |
            <a asp-action="Index">Back to Full List</a>
        </p>
    </div>
</form>

<form asp-action="Index" method="get">
    <div class="form-actions no-color">
        <p>
            Find Task Creater: <input type="text" name="SearchString2" value="@ViewData["CurrentFilter2"]" />
            <input type="submit" value="Search" class="btn btn-default" /> |
        </p>
    </div>
</form>


<table class="table">
    <thead>
        <tr>
            <th>
               Name
            </th>
            <th>
               Description
            </th>
            <th>
              <a asp-action="Index" asp-route-sortOrder="@ViewData["DateSortParm"]" asp-route-currentFilter="@ViewData["CurrentFilter"]">Date of Creation</a>
            </th>
            <th>
              Date Of Modification
            </th>
            <th>
              Task Creater
            </th>
            <th>
             <a asp-action="Index" asp-route-sortOrder="@ViewData["NameSortParm"]" asp-route-currentFilter="@ViewData["CurrentFilter"]">Task Worker</a>
            </th>
            <th>Task Status</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Description)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CreatedDate)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.UpdatedDate)
            </td>
            <td>
                @(item.TaskCreater.Name + " " + item.TaskCreater.Surname)
             </td>
             <td>
                @(item.TaskWorker.Name + " " + item.TaskWorker.Surname)
            </td>
             <td>
                @Html.DisplayFor(modelItem => item.TaskStatus)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.TaskID">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.TaskID">Details</a> |
                <a asp-action="ChangeTaskStatus" asp-route-id="@item.TaskID">Change Task Status</a> |
                <a asp-action="ChangeTaskCreater" asp-route-id="@item.TaskID">Change Task Creater</a> |
                <a asp-action="Delete" asp-route-id="@item.TaskID">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>

@{
    var prevDisabled = !Model.HasPreviousPage ? "disabled" : "";
    var nextDisabled = !Model.HasNextPage ? "disabled" : "";
}

<a asp-action="Index"
   asp-route-sortOrder="@ViewData["CurrentSort"]"
   asp-route-pageNumber="@(Model.PageIndex - 1)"
   asp-route-currentFilter="@ViewData["CurrentFilter"]"
   class="btn btn-default @prevDisabled">
    Previous
</a>
<a asp-action="Index"
   asp-route-sortOrder="@ViewData["CurrentSort"]"
   asp-route-pageNumber="@(Model.PageIndex + 1)"
   asp-route-currentFilter="@ViewData["CurrentFilter"]"
   class="btn btn-default @nextDisabled">
    Next
</a>